<div>
  <div>
    <h3>Login</h3>

    <div *ngIf="errorMessage" class="text-danger">
      {{errorMessage}}
    </div>

    <div>
      <span>Email: </span>
      <input type="text" [(ngModel)]="email">
    </div>

    <div>
      <span>Password: </span>
      <input type="password" [(ngModel)]="password">
    </div>

    <div>
      <button (click)="onClose()">Login Close</button>
      <button (click)="onCreateAccount()">Make an Account</button>
      <button (click)="onLogin()">Login</button>
    </div>
  </div>

</div>
