<div>
  <div>
    <h3>Login</h3>

    <div *ngIf="errorMessage">
      {{errorMessage}}
    </div>

    <div>
      <span>Username</span>
      <input type="text" [(ngModel)]="username">
    </div>

    <div>
      <span>Password</span>
      <input type="password" [(ngModel)]="password">
    </div>

    <div>
      <button (click)="onClose()">Close</button>
      <button (click)="onCreateAccount()">Make an Account</button>
      <button (click)="onLogin()">Login</button>
    </div>
  </div>

</div>
