<div class="card shadow-lg">
  <div class="card-header">
    <h2>LOGIN</h2>
  </div>

  <div class="card-body">
    <div class="input-group mb-3">
      <span class="input-group-text">Email</span>
      <input type="text" class="form-control" [(ngModel)]="email">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Password</span>
      <input type="password" class="form-control" [(ngModel)]="password">
    </div>
  </div>

  <div *ngIf="errorMessage" class="text-danger">{{errorMessage}}</div>

  <div class="card-footer d-flex justify-content-around">
    <button type="button" class="btn btn-outline-primary m-2" (click)="onCreateAccount()">Make an Account</button>
    <button type="button" class="btn btn-outline-success m-2" (click)="onLogin()">Login</button>
  </div>
</div>
