
<button (click)="onClose()">Manage Profiles Close</button>

<input class="form-control" placeholder="Select Account email" type="text" list="account" #account/>
<datalist id="account">
  <option
    *ngFor="let account of accountList" [value]="account.id"
  >{{account.email}}</option>
</datalist>
<div class="input-group-append">
  <button type=button class="btn btn-success" (click)="onSelectAccountClick(account.value)">View <i
    class="bi bi-envelope"></i>
  </button>
</div>

<div *ngIf="selectedAccount">
  <h2>{{selectedAccount.email}}</h2>
  <h5>id: {{selectedAccount.id}}</h5>
  <h6>Email: {{selectedAccount.email}}</h6>
  <h6>Password: {{selectedAccount.password}}</h6>
  <h6>Type: {{selectedAccount.type}}</h6>

</div>
