
<div
*ngFor="let productList of cart.productList">
<h5>
  {{productList.product.description}}
  <span *ngIf="productList.product.isDiscontinued" >Product is Discontinued</span>
</h5>
<img src="{{productList.product.image}}" alt="product">
<h6>{{productList.product.currentPrice}}</h6>
  <h3>Quantity: {{productList.count}}</h3>
  <div>
    <span>
      <button (click)="onMinusClick(productList.product)">-</button>
    </span>
    <span>
      <button (click)="onRemoveClick(productList.product)">Remove</button>
    </span>
    <span>
      <button (click)="onPlusClick(productList.product)">+</button>
    </span>
  </div>
</div>

<div>
  <h3>Total Price: {{cart.totalPrice}}</h3>
</div>

<div>
  <button (click)="onClose()">Cart Close</button>
  <button (click)="onCheckoutClick()">Check out</button>

</div>

