<H2>UPDATE CATEGORY</H2>
<input class="form-control" placeholder="Select Category Id" type="text" list="category" #category/>
<datalist id="category">
  <option
    *ngFor="let category of categoryList" [value]="category.id"
  >{{category.name}}</option>
</datalist>
<div class="input-group-append">
  <button type=button class="btn btn-success" (click)="onSelectCategoryClick(category.value)">View <i
    class="bi bi-envelope"></i>
  </button>
</div>

<div *ngIf="selectedCategory">
  <h5>{{selectedCategory.id}}</h5>
<!--  <h5>{{selectedCategory.name}}</h5>-->
  <div class="input-group mb-3">
    <span class="input-group-text">category name</span>
    <input type="text" class="form-control" [(ngModel)]="categoryName">
  </div>
  <div class="d-flex justify-content-around">
    <button class="btn btn-danger" (click)="onCancel()">Cancel</button>
    <button class="btn btn-primary" (click)="onUpdate()">Update</button>
  </div>
</div>

<button (click)="onClose()">Product Categories Close</button>
