<app-navbar></app-navbar>
<div class="text-center text-bg-danger">{{httpErrorMessage}}</div>

<app-register *ngIf="viewRegister"></app-register>
<app-login *ngIf="viewLogin"></app-login>

<app-cart *ngIf="viewCart"></app-cart>

<app-profile *ngIf="viewProfile"></app-profile>

<app-product-categories *ngIf="viewCategories"></app-product-categories>
<app-inventory *ngIf="viewInventory"></app-inventory>
<app-coupons *ngIf="viewCoupons"></app-coupons>
<app-invoice *ngIf="viewInvoices"></app-invoice>
<app-manage-profiles *ngIf="viewManageProfiles"></app-manage-profiles>

<button (click)="onViewFilterSidebar()">Filter Sidebar</button>

<div class="d-flex">
  <app-filter-sidebar></app-filter-sidebar>
  <app-product-list></app-product-list>
</div>
