<nav class="navbar bg-secondary">
  <h1>Team Integer Store</h1>

  <div *ngIf="!account" class="m-2">
    <button type="button" class="btn btn-primary m-2" (click)="onViewLogin()">Login</button>
    <button type="button" class="btn btn-primary m-2" (click)="onViewRegister()">Register</button>
  </div>

  <div *ngIf="account" class="d-flex flex-column align-items-center w-50">
    <div class="d-flex justify-content-around m-2 w-50">
      <h2>{{accountType}}</h2>
      <h2>{{account.email}}</h2>
      <button type="button" class="btn btn-sm btn-info" (click)="onLogout()">Logout</button>
    </div>

    <div *ngIf="account.type === 1" class="m-2">
      <button type="button" class="btn btn-primary m-2" (click)="onViewProfile()">Profile</button>
      <button type="button" class="btn btn-primary m-2" (click)="onViewInvoices()">Order History</button>
    </div>

    <div *ngIf="account.type > 1" class="m-2">
      <button type="button" class="btn btn-primary m-2" (click)="onViewCategories()">Categories</button>
      <button type="button" class="btn btn-primary m-2" (click)="onViewInventory()">Products</button>
      <button type="button" class="btn btn-primary m-2" (click)="onViewCoupons()">Coupons</button>
      <button type="button" class="btn btn-primary m-2" (click)="onViewInvoices()">Order History</button>
      <button *ngIf="account.type === 2" type="button" class="btn btn-primary m-2" (click)="onViewProfile()">Profile
      </button>
      <button *ngIf="account.type === 3" type="button" class="btn btn-primary m-2" (click)="onViewManageProfiles()">All
        Accounts
      </button>
    </div>
  </div>
  <button type="button" class="btn btn-lg btn-success m-2" (click)="onViewCart()">Cart</button>
</nav>

