<div class="card shadow-lg m-2" style="width: 16rem; height: 22rem;">
  <div class="card-header">
    <span *ngIf="product.isDiscontinued" class="text-warning">Product is Discontinued</span>
    <h5>{{product.description}}</h5>
  </div>
  <div class="card-body">
    <img src="{{product.image}}" alt="product">
  </div>
  <div class="card-footer d-flex justify-content-between">
    <h6>{{product.currentPrice | currency}}</h6>
    <button (click)="onClickAddProduct()" class="btn btn-sm btn-outline-primary">Add to Cart</button>
  </div>
</div>
