<div class="d-flex flex-column align-items-center">
  <h2 class="text-white bg-dark text-center w-75">Previous Orders</h2>

  <div class="d-flex flex-wrap w-75 justify-content-center">
    <div *ngFor="let invoice of invoiceList" class="card m-2 shadow-lg" style="width: 20rem;">
      <div class="card-header">
        <h4>Invoice Number: {{invoice.id}}</h4>
      </div>
      <div class="card-body">
        <h5> Purchase Date: {{invoice.purchaseDate | date }}</h5>
        <div *ngFor="let purchase of invoice.purchaseList">
          <div class="d-flex justify-content-between">
            <div>Count: {{purchase.count}}</div>
            <div>${{purchase.price}}</div>
            <div>Item: {{purchase.name}}</div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <h5>Total Price: ${{invoice.totalPrice}}</h5>
      </div>
    </div>
  </div>
</div>
